// nav
nav.nav_01
  .navWrapBg
  .navWrap
    h3.hide 導覽列
    .logoWrap
      a.logo(href='https://www.juksy.com', target='_blank')
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 242 52", style="enable-background:new 0 0 242 52;", xml:space="preserve")
          g
            path(class="st0", d="M25,0C11.2,0,0,11.6,0,26c0,14.4,11.2,26,25,26c13.8,0,25-11.6,25-26C49.9,11.6,38.8,0,25,0z M4.2,40.5l12.5-21.7h6.6L10.7,40.5H4.2zM13.4,40.5l6.3-10.8h6.5l-6.3,10.8H13.4zM29,40.5h-6.4l16.6-28.9h6.6L29,40.5z")
            path(class="st0", d="M97.2,4.4v25.9c0,10.5-4.1,15.5-12.9,15.6h0c-8.8-0.1-12.9-5.1-12.9-15.6h-2.9c0,5.6,1.1,10,3.4,13c2.6,3.5,6.8,5.2,12.4,5.3h0c5.6-0.1,9.8-1.8,12.4-5.3c2.3-3,3.4-7.4,3.4-13V4.4H97.2z")
            path(class="st0", d="M134.3,30.2c0,10.6-4.2,15.6-13.2,15.6c-10.4,0-12.6-8.5-12.6-15.6V4.4h-2.9v25.9c0,3,0.2,7.5,2.2,11.3c2.5,4.7,6.9,7,13.3,7c5.8,0,10.1-1.8,12.7-5.3c2.3-3,3.4-7.4,3.4-13V4.4h-2.9V30.2z")
            polygon(class="st0" points="174.8,4.4 171,4.4 145.5,28.6 145.5,4.4 142.6,4.4 142.6,47.4 145.5,47.4 145.5,32.2 153.8,24.4 172.2,47.4 175.9,47.4 155.9,22.3 174.8,4.4 ")
            path(class="st0", d="M206.6,33c-1.5-5.6-7.1-7.3-13.7-8.7c-0.3-0.1-0.7-0.1-1-0.2c-6.6-1.4-12.7-2.7-12.7-9.1c0-6.5,5.9-8.9,11-8.9  c7.9,0,12.6,3.9,12.9,10.7l0,0.2h2.9l0-0.2c-0.2-4.5-1.8-8-4.9-10.3c-2.7-2-6.5-3.1-11-3.1c-3.6,0-6.9,0.9-9.4,2.6c-3,2-4.5,5.1-4.5,8.9c0,3.7,1.5,6.5,4.5,8.3c2.6,1.6,5.9,2.4,9.6,3.2l0.7,0.1c6.8,1.4,13.2,2.8,13.2,9.6c0,1.6-0.3,3-0.9,4.1c-2.1,3.3-5.7,4.9-10.7,4.9c0,0,0,0,0,0v0H191v0c0,0-0.1,0-0.1,0c-5.4,0-9.1-1.9-11.2-5.8c-1.1-2.1-1.6-4.4-1.8-6.5l0-0.1h0h-2.9h0c0,0.1,0,0.3,0,0.4c0.2,2.4,0.8,5.1,2.1,7.6c1.2,2.2,2.8,3.9,4.7,5.1c2.2,1.4,4.9,2.1,8.1,2.2c0.8,0.1,1.6,0.1,2.5,0.1c1.4,0,2.7-0.1,4-0.4c2.1-0.4,4-1.2,5.6-2.3c3.2-2.2,4.9-5.5,4.9-9.5C207,35.1,206.8,34,206.6,33z")
            polygon(class="st0", points="238.7,4.4 224,26.7 209.3,4.4 205.9,4.4 222.4,29.4 222.4,47.4 225.4,47.4 225.4,29.4 242,4.4")
      .mIcon
        .open
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 80 80", style="enable-background:new 0 0 80 80;", xml:space="preserve")
            g
              line(class="st0", x1="27.5", y1="30.6", x2="52.5", y2="30.6")
              line(class="st0", x1="27.5", y1="40", x2="52.5", y2="40")
              line(class="st0", x1="27.5", y1="49.4", x2="52.5", y2="49.4")
        .close
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 80 80", style="enable-background:new 0 0 80 80;", xml:space="preserve")
            g
              line(class="st0", x1="31.2", y1="48.8", x2="48.8", y2="31.2")
              line(class="st0", x1="31.2", y1="31.2", x2="48.8", y2="48.8")
    .menuWrap
      ul.menu(data-navli='["第一項目","第二項目","第三項目","第四項目"]')
      ul.share
        li.title 分享給朋友
        li.line
          a.btn(href='', target='_blank')
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
              g
                path(class="st0", d="M48.5,31.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6H44v-2.9h4.5c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6h-6.1c-0.9,0-1.6,0.7-1.6,1.6v12.2c0,0.9,0.7,1.6,1.6,1.6h6.1c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6H44v-2.9H48.5z")
                path(class="st0", d="M37,22.3c-0.9,0-1.6,0.7-1.6,1.6v7.6l-6.3-8.5c-0.3-0.4-0.8-0.6-1.3-0.6c-0.2,0-0.3,0-0.5,0.1c-0.7,0.2-1.1,0.8-1.1,1.5v12.2c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6v-7.6l6.3,8.5c0.3,0.4,0.8,0.6,1.3,0.6c0.2,0,0.3,0,0.5-0.1c0.7-0.2,1.1-0.8,1.1-1.5V23.9C38.6,23,37.9,22.3,37,22.3z")
                path(class="st0", d="M22.3,22.3c-0.9,0-1.6,0.7-1.6,1.6v12.2c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6V23.9C23.9,23,23.2,22.3,22.3,22.3z")
                path(class="st0", d="M17.6,34.5h-4.5V23.9c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6v12.2c0,0.9,0.7,1.6,1.6,1.6h6.1c0.9,0,1.6-0.7,1.6-1.6C19.2,35.2,18.5,34.5,17.6,34.5z")
        li.fb
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
            g
              path(class="st0", d="M39.5,58.9V38h7l1-8.1h-8.1v-5.2c0-2.4,0.7-4,4-4l4.3,0v-7.3c-0.7-0.1-3.3-0.3-6.3-0.3c-6.2,0-10.5,3.8-10.5,10.7v6h-7V38h7v20.9H39.5z")
// nav end