meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title 特企整理頁面 - JUKSY 街星
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='瘋迷無國界、今夏最火的話題《Pokemon GO》，自上線以來熱議不斷，並再度引爆「神奇寶貝」初代狂潮！想跟風卻摸不著頭緒？JUKSY 為你開啟「寶可夢速成修練之路」！')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content='成神之路有你有我！寶可夢全攻略')
meta(property='og:description', content='瘋迷無國界、今夏最火的話題《Pokemon GO》，自上線以來熱議不斷，並再度引爆「神奇寶貝」初代狂潮！想跟風卻摸不著頭緒？JUKSY 為你開啟「寶可夢速成修練之路」！')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/pokemon2016go')
meta(property='og:site_name', content='JUKSY 街星')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS

// CSS DEV FILE
link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css', rel='stylesheet')
link(href='css/index.css', rel='stylesheet')

// CSS MIN FILE
//- link(href='css/app.min.css', rel='stylesheet')

// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end