// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 拍攝現場直擊
		.subTitleWrap
			p.subTitle 
	ul#gallery_01_slider.slider
		li(data-thumb='img/gallery/g_01/thumb-01.jpg')
			.img
				img(src='img/gallery/g_01/01.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-02.jpg')
			.img
				img(src='img/gallery/g_01/02.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-03.jpg')
			.img
				img(src='img/gallery/g_01/03.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-04.jpg')
			.img
				img(src='img/gallery/g_01/04.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-05.jpg')
			.img
				img(src='img/gallery/g_01/05.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-06.jpg')
			.img
				img(src='img/gallery/g_01/06.jpg', data-width='1200', data-height='800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-07.jpg')
			.img
				img(src='img/gallery/g_01/07.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-08.jpg')
			.img
				img(src='img/gallery/g_01/08.jpg', data-width='1200', data-height='1800')
			.txt
				span 
		li(data-thumb='img/gallery/g_01/thumb-09.jpg')
			.img
				img(src='img/gallery/g_01/09.jpg', data-width='1200', data-height='1800')
			.txt
				span 				
// gallery01 end