// list03_infinite
section.list_03_infinit.list_03(data-menu='true')
	.layoutWrap(data-tags='["瘋面特搜"]',data-filter='[63162, 63166, 63175]')
		h2.title TOPIC
		.detail 瘋面特搜
		.subTitleWrap
			p.subTitle 別再說這樣是神經病，那只是在追求你不懂的極致罷了！我們生活寄託電影、音樂、文字，撇開主不主流、甩開認同與否那些都是自我存在的理由。
// list03_infinite end