// list04
section.list_04(data-menu='true')
	.layoutWrap
		h2.title  FASHION
		.detail 瘋one tone
		.subTitleWrap
			p.subTitle 型，不是別人說的算，專注自己熱愛事的瞬間，才是「有態度」！不管自己正扮演什麼角色，動動手指上傳專屬態度照吧！
		.sliderWrap
			.slidesWrap.wow.custom_fadeinup
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/54297', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54297', target='_blank')
								h3 春夏就是「涼鞋」的季節！防爆汗必備，清涼有型3穿搭Look大放送！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/54297', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54297', target='_blank')
								h3 春夏就是「涼鞋」的季節！防爆汗必備，清涼有型3穿搭Look大放送！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/54297', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54297', target='_blank')
								h3 春夏就是「涼鞋」的季節！防爆汗必備，清涼有型3穿搭Look大放送！
// list04 end