// list04
section.list_04(data-menu='true')
	.layoutWrap
		h2.title  FASHION
		.detail 瘋one tone
		.subTitleWrap
			p.subTitle 外型往往是了解一個人的最速捷徑，在這前提下服裝自然顯得重要，無論狂放、抑鬱，無非都是自我展現， 所以不要顧忌他人眼光，「造型」自己吧！
		.sliderWrap
			.slidesWrap.wow.custom_fadeinup
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/63162', target='_blank', data-imgload='https://static.juksy.com/files/cover/63162/58b6968c3ec1a.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/63162', target='_blank')
								h3 不只搞怪還失心瘋？這 3 個品牌設計師都是完完全全的「黑色控」！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/63166', target='_blank', data-imgload='https://static.juksy.com/files/cover/63166/58b697e30137d.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/63166', target='_blank')
								h3 One Tone 穿搭是趨勢？看看這些部落客怎麼用「一個顏色」搞定造型！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/63175', target='_blank', data-imgload='https://static.juksy.com/files/cover/63175/58b69043f0bae.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/63175', target='_blank')
								h3 單調只是假象！一次明白潮人都愛的 One Tone 穿法　究竟有多實用
// list04 end