// list06
section.list_06(data-menu='true')
	.layoutWrap(data-engtitle='JUKSY STAR', data-title='3月焦點人物', data-description='', data-tags='["3月焦點人物"]',data-filter='[63162, 63166, 63175]')
// list06 end