// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		.article
			ul.pic
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/58605', target='_blank', data-imgload='https://static.juksy.com/files/cover/61305/586f575c8bc04.png?m=resize&i=760x400&e=jpg&q=75')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/58605', target='_blank', data-imgload='https://static.juksy.com/files/cover/57311/57d3ac6a5b879.png?m=resize&i=760x400&e=jpg&q=75')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/58605', target='_blank', data-imgload='https://static.juksy.com/files/cover/61354/586f6c59b6987.png?m=resize&i=760x400&e=jpg&q=75')
			.txt
				ul.dateWrap
					li.now
						.date 14
						.month DEC
							br
							| 2017
						.author by henrry
					li
						.date 15
						.month DEC
							br
							| 2017
						.author by henrry
					li
						.date 16
						.month DEC
							br
							| 2017
						.author by henrry
				ul.main
					li.now
						.atitleWrap
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/58605', target='_blank')
								h3 「每個人都有自己的小世界！」　田亞霍霸氣表示：不曾黑過又為何要洗白？
						.detail(data-dotdotdot='true') 或許是成長環境所致，也可能是偶像情節使然，生活中數不清的元素造就了每個獨特個體，沒有任何人會是另一個人的完全複製人，而能夠尋覓到與自己相似的同溫層，當然是最令我們感到舒服、自在的一件事，既然如此，那又何必去在意那個讓全世界都滿意的平衡點呢？看似簡單的道理，卻是支持著田亞霍實踐夢想的核心力量。
						a.button(href='https://www.juksy.com/archives/58605', target='_blank') Read More >>
					li
						.atitleWrap
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/58605', target='_blank')
								h3 《屍速列車》之外， 2016 下半年度最受期待活屍電影與影集
						.detail 或許是成長環境所致，也可能是偶像情節使然，生活中數不清的元素造就了每個獨特個體，沒有任何人會是另一個人的完全複製人，而能夠尋覓到與自己相似的同溫層，當然是最令我們感到舒服、自在的一件事，既然如此，那又何必去在意那個讓全世界都滿意的平衡點呢？看似簡單的道理，卻是支持著田亞霍實踐夢想的核心力量。
						a.button(href='https://www.juksy.com/archives/58605', target='_blank') Read More >>
					li
						.atitleWrap
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/58605', target='_blank')
								h3 跟著時尚MODEL看城市！彭千祐的午後私旅行
						.detail 或許是成長環境所致，也可能是偶像情節使然，生活中數不清的元素造就了每個獨特個體，沒有任何人會是另一個人的完全複製人，而能夠尋覓到與自己相似的同溫層，當然是最令我們感到舒服、自在的一件事，既然如此，那又何必去在意那個讓全世界都滿意的平衡點呢？看似簡單的道理，卻是支持著田亞霍實踐夢想的核心力量。
						a.button(href='https://www.juksy.com/archives/58605', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 3
					.btn.right >
// list09 end