// social02
section.social_02(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 臉書相簿
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
		.photo
			iframe(style='border: 0; width: 100%; height: 100%;', scrolling=no, data-msrc='https://embedsocial.com/facebook_album/pro/a12b38ed62c5eea600559dd37aaea342f279b4cc', data-pcsrc='https://embedsocial.com/facebook_album/pro_develop/10151627900478937?total_images=1000&images_per_page=16&show_title=no&order_by_date=ascending&show_likes=no&show_images_in_lightbox=yes')
// social02 end